@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;500;600&display=swap');
body {
    font-family: $body-font-family;
    background-color: $body-background-color;
    .main-content {
        h1 {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 48px !important;
            line-height: 116.7%;
            color: #1B1D32;
        }
    
        h5 {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 24px !important;
            line-height: 133.4%;
            /* grey/grey-200 */
            color: #A4A9C5;
        }

        p {
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            /* or 24px */
            letter-spacing: 0.15px;
            /* grey / grey-800 */
            color: #1E233B;
        }
    
        .text-delta{
            font-family: Source Sans Pro;
            font-style: normal;
            font-weight: 600;
            font-size: 12px;
            line-height: 140%;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            /* grey/grey-900 */
            color: #1B1D32;
        }

        ul {
            list-style: none; 
            counter-reset: li;
            li {
                counter-increment: li;
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 143%;
                /* identical to box height, or 20px */
                text-decoration-line: underline;
                color: #009FA9;

                a {
                    color: #009FA9; /* blue colors for links too */
                    text-decoration: inherit; /* no underline */
                }
            }

            > li::before {
                position: absolute;
                margin-left: -1.4em;
                /* grey/grey-900 */
                color: #1B1D32;
                content: counter(li);
                font-family: Source Sans Pro;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 130%;
            }
        }

        a:not([class]) { 
            text-decoration: none; 
            opacity: 1;
        }

        a:not([class]):hover { 
            opacity: 1;
            text-decoration: none;
        }


    }


}
.side-bar {
    padding: 16px;
    background: #13172A;
    max-width: 240px;
    
    .site-header {
        border-bottom: inherit;
        
    }
    .site-title.lh-tight {
        padding: 0;
        pointer-events: none;
    }
}

.nav-list-item {
    a {
        font-weight: 600;
        font-size: 16px;
        line-height: 175%;
        letter-spacing: 0.15px;
        color: $link-color;

        :active {
            color: $green-000;
        }
    }
}

.main-header {
    background-color: $search-background-color;
    border-bottom: $border #E6E8F0;
}

@media (min-width: 50rem) { 
    .side-bar { 
        flex-wrap: nowrap; 
        position: fixed; 
        width: 240px; 
        height: 100%; 
        flex-direction: column; 
        border-right: 1px solid #eeebee; 
        align-items: flex-end; 
    }
    .site-header { 
        height: 60px; 
        max-height: 60px; 
        border-bottom: inherit; 
    }  
}


@media (min-width: 66.5rem) {
    .site-nav, .site-header, .site-footer {
        width:100%; 
    }
}

