//Color
$grey-200: #A4A9C5;
$grey-500: #6B7294;
$grey-600: #545A78;
$grey-700: #323856;
$grey-800: #1E233B;
$grey-900: #1B1D32;
$primary-text: #1AD1DB;
$primary-dark: #009FA9;
$side-bar-gray: #E5E6EC;
$side-bar-background: #F2F4FF;
$blue-light: #F2F3FF;
$blue-shadow: #8B92B6;
$magenta-light: #EEEBEE;
$warning-bg: #FFD582 !default;
$success-bg: #3AC3A2 !default;
$info-bg: #1AD1DB !default;
$danger-bg: #FB5B8B !default;
$border-subtitles: rgba(65, 73, 112, 0.2);
$dark-background-color: #070A1B;
