@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;400;500;600&display=swap');

$body-font-family: "Source Sans Pro", sans-serif !default;

//Color

$green-000: #E5E6EC !default;
$secondary: #8B92B6 !default;
$grey-lt-000: #F2F3FF !default;
$grey-lt-100: rgba(65, 73, 112, 0.2) !default;

$body-background-color: #FBFBFF !default;
$search-background-color: $grey-lt-000 !default;


$body-text-color: $grey-dk-100 !default;
$link-color: #8B92B6;

$border: 1px solid !default;
$border-radius: 4px !default;
$border-color: $grey-lt-100 !default;